:root {
    --black-blue: #102b44;
    --light-blue: #03d8f5;
    --blue-title: #098eb3;
    --blue-border: #0d5677;
    --only-blue: #007aff;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--black-blue);
}

header {
   margin-top: 40px;
   width: 100vw;
   height: 60px;
   min-width: 320px;
}

header h1 {
    text-align: center;
    font-family: 'Sansita';
    font-size: 3rem;
    font-weight: 700;
    color: var(--blue-title);
}

main {
    width: 100vw;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .inputs-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-container, .cost-container {
    margin-top: 36px;
}

.price-container input, .cost-container input {
    width: 100px;
    height: 26px;
    margin-left: 20px;
    background: transparent;
    font-size: 1.8rem;
    font-family: 'Sansita';
    font-weight: 400;
    border: 2px solid var(--blue-border);
    border-radius: 5px;
    color: white;
    text-align: center;
}

.tags {
    font-size: 2.2rem;
    font-family: 'Sansita';
    font-weight: 400;
    color: var(--light-blue);
}

.inputs-container .btn {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 5px 0px;
    font-size: 1.6rem;
    font-family: 'Sansita';
    font-weight: 700;
    color: var(--white);
    background: transparent;
    border: 3px double var(--only-blue);
}

.p-resultado {
    max-width: 350px;
    margin-top: 30px;
    font-family: 'Sansita';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
}